doctype html
html
    include includes/head
    body
        include components/navbar

        .container
            for category in categories
                .row
                    .col-12.p-3
                        .row
                            .col-12
                                p.text-dark.h4= category.name
                        .row
                            .col-12
                                p.text-success.h6 Forum Category
                        .row
                            .col-12
                                p.text-muted.d-block= category.description
                    .col-12.p-3
                        .row.text-dark.h6.py-2.border-bottom
                            .col-7 Forum
                            .col-3.text-center Topics
                            .col-2.text-center Posts
                        for forum in category.forums
                            .row.my-3.py-3.border-bottom
                                .col-7
                                    a(href=`/forums/${encodeURIComponent(forum.title.replace(/\s/g,'-'))}?forumId=${forum.forumId}`).font-weight-bold.text-decoration-none= forum.title         
                                .col-3.text-center=  forum.totalTopics
                                .col-2.text-center=  forum.totalPosts
                                .col-12
                                    if forum.description.length > 50
                                        p.text-muted.small= forum.description.substr(0,50) + '...'
                                    else
                                        p.text-muted.small= forum.description
        include components/footer