doctype html
html
    include includes/head
    body
        include components/navbar
        .container
            .row.my-4
                .col-12.p-1
                    .row
                        .col-12
                            p.text.dark.h4.m-0= topic.title
                        .col-12
                            p.text-muted.m-0.small Asked By #[a.btn-link.text-decoration-none(href=`/profiles/${topic.createdBy.username}`, title=`${topic.createdBy.name}`) #{topic.createdBy.username}] #{topic.prettyDate} in #[a.btn-link.text-decoration-none(href=`/forums/${encodeURIComponent(topic.forum.title.replace(/\s/g,'-'))}?forumId=${topic.forum.forumId}`)= topic.forum.title] 
                        .col-12
                            p.text-dark.pt-3.pb-1(style="white-space: pre-line;")= topic.description
                .col-12
                    form(action=`/topics/${encodeURIComponent(topic.title.replace(/\s/g,'-'))}/posts`, method="post")
                        .form-row.py-2
                            .col-12.col-md-10
                                .form-group
                                    if (session.userSession && session.userSession.authenticated)
                                        textarea.form-control.rounded-pill(type="text", placeholder="Your Answer", name="content" rows="1")
                                    else
                                        textarea.form-control.rounded-pill.disabled(type="text", placeholder="Login to Post Your Answer", disabled, name="content" rows="1")
                                .form-group
                                    input(type="hidden", value=`${topic.topicId}`, name="topicId")
                            .col-12.col-md-2
                                .form-group
                                    if (session.userSession && session.userSession.authenticated)
                                        input.btn.btn-primary.rounded-pill(type="submit", value="Post Answer")
                                    else
                                        input.btn.btn-primary.rounded-pill.disabled(type="submit", value="Post Answer", disabled)
                .col-12
                    for post in topic.posts
                        .row.my-2.p-2
                            .col-12
                                .row
                                    .col-1
                                        img.ml-md-3.rounded-circle(src=`/images/avtars/${post.postedBy.avtar.filename}`, width="50px", height="50px")
                                    .col-10.offset-1.col-md-11.offset-md-0
                                        .row
                                            .col-12
                                                p.m-0= post.postedBy.name
                                            .col-12
                                                p.m-0.text-muted.small #{post.prettyDate} | #[a(href=`/profiles/${post.postedBy.username}`)= post.postedBy.username]
                                    .col-12
                                        p.text-dark.m-0.p-2(style="white-space: pre-line;")= post.content
                    else
                        .row.my-2.p-2
                            .col-12.text-center
                                p.mt-3.h5.text-muted Be the first to answer this question
