doctype html
html
    include includes/head
    body
        include components/navbar
        .container.shadow-sm
            .row.my-4
                .col-12.py-3
                    .row.rows-head
                        .col-1
                            i.fas.fa-star
                        .col-11
                            p.text.dark.px-2.h4= topic.title
                        .col-11.offset-1= topic.description
                            hr
                        .col-11.offset-1.py-1.col-md-6 Forum: #[a.btn-link.text-decoration-none(href=`/forums/${encodeURIComponent(topic.forum.title.replace(/\s/g,'-'))}?forumId=${topic.forum.forumId}`)= topic.forum.title]
                        .col-11.offset-1.py-1.col-md-4 Created By: #[a.btn-link.text-decoration-none(href=`/profiles/${topic.createdBy.username}`) @#{topic.createdBy.username}]
                        .col-11.offset-1.text-muted= topic.prettyDate
                .col-12
                    .row.bg-light.text-dark.h6.py-2.border
                    for post in topic.posts
                        .row.my-2.shadow-sm
                            .col-2.col-sm-1
                                img.img-fluid.rounded-circle(src=`/images/avtars/${post.postedBy.avtar.filename}`)
                            .col-10
                                .row
                                    .col-12 #{post.postedBy.name} #[a.btn-link.text-decoration-none.mx-2(href=`/profiles/${post.postedBy.username}`) @#{post.postedBy.username}]
                                    .col-12.text-muted.py-1= post.prettyDate
                                hr
                                .row
                                    .col-12
                                        p.text-dark(style="white-space: pre-line;")= post.content 
                            .col-12.bg-light.py-2.border       
                    if (session.userSession && session.userSession.authenticated)
                        .row.my-2
                            .col-11.offset-1
                                p.lead.text-capitalize Reply to this topic
                            .col-11.offset-1
                                form(action=`/topics/${encodeURIComponent(topic.title.replace(/\s/g,'-'))}/posts`, method="post")
                                    .form-group
                                        textarea.form-control(name="content",cols="30",rows="3",placeholder="Write Something...")
                                    .form-group
                                        input(type="hidden", value=`${topic.topicId}`, name="topicId")
                                    .form-group
                                        input.btn.btn-success.float-right.px-4(type="submit", value="Reply")