doctype html
html
    include includes/head
    body
        include components/navbar
        .container.my-3
            .row
                .col-3.col-md-2
                    .row
                        .col-12.offset-md-2.col-md-8
                            img.img-fluid.rounded-circle.p-md-0.shadow-sm(src=`/images/avtars/${user.avtar.filename}`)
                .col-9
                    .row
                        .col-9.col-md-10
                            p.h5= user.name
                        .col-3.col-md-2
                            a.btn.btn-sm.border.btn-light.text-dark.text-decoration-none(href=`/profiles/${user.username}?action=make_changes`)
                                i.fas.fa-cog.text-dark
                        .col-12
                            p.h6.text-info @#{user.username}
                        .col-12.col-md-6
                            p.text-secondary #{user.city}, #{user.state}
                        .col-12.col-md-3.text-lg-right.offset-md-3
                            strong.text-dark= user.profession
            .row.mt-3
                .col-12.col-md-6
                    .col-12
                        h5 Bio
                        if (user.bio)
                            p.text-dark= user.bio
                        else
                            p.text-muted.small No Bio Provided
                    .col-12
                        .row
                            .col-6
                                p.text-dark
                                    strong Birthday: 
                                    | #{user.prettyDate}
                            .col-6
                                p.text-dark
                                    strong Gender:   
                                    | #{user.gender}
                    .col-12.my-1
                        a.btn.btn-light.btn-sm.border(href=`mailto:${user.email}`) #[i.fas.fa-envelope ] Email
                .col-3.mt-2
                    .row
                        .col-12
                            p.h5.text-center.m-0= user.posts    
                        .col-12
                            p.text-dark.text-center Posts
                .col-3.mt-2
                    .row
                        .col-12
                            p.h5.text-center.m-0= user.topics
                        .col-12
                            p.text-dark.text-center Topics  
        include components/footer