doctype html
html
    include includes/head
    body
        include components/navbar
        .container
            .row.my-1
                .col-12.py-3
                    .row
                        .col-12
                            p.h4.text-dark= forum.title
                        .col-3.col-md-4
                            p.text-success.h6 Forum | #[span.text-info #{forum.topics.length} Topics] | #[span.text-info #{forum.subforums.length} Subforums]
                        .col-8.col-md-8.text-right
                            p.text-secondary= forum.prettyDate
                        .col-12.col-md-7
                            p.text-muted= forum.description
                .col-12
                    if (forum.subforums.length > 0)
                        .row.text-dark.h6.py-2.border-bottom
                            .col-7 Sub Forums
                            .col-3.text-center Topics
                            .col-2.text-center Posts
                        for subforum in forum.subforums
                            .row.my-3.py-3
                                .col-7
                                    a(href=`/forums/${encodeURIComponent(subforum.title.replace(/\s/g,'-'))}?forumId=${subforum.forumId}`).h6.text-decoration-none.font-weight-bold= subforum.title         
                                .col-3.text-center= subforum.totalTopics
                                .col-2.text-center= subforum.totalPosts
                                .col-12
                                    if subforum.description.length > 50
                                        p.text-muted.small= subforum.description.substr(0,50) + '...'
                                    else
                                        p.text-muted.small= subforum.description
                    .row.my-3.py-3
                        .col-12
                            h6 Ask a Question
                            form(action="/topics", method="POST")
                                .form-row
                                    .col-12
                                        input(type="hidden", value=`${forum.forumId}`, name="forumId")
                                .form-row
                                    .col-12
                                        .form-group
                                            input.form-control(type="text", placeholder="Your Question", name="title")
                                .form-row
                                    .col-12
                                        .form-group
                                            textarea.form-control(placeholder="Explain in details (optional)", rows="2", cols="30", name="description")
                                .form-row
                                    .col-12
                                        if (session.userSession && session.userSession.authenticated)
                                            input.btn.btn-primary.border(type="submit", value="Post Question")
                                        else
                                            input.btn.btn-primary.border.disabled(type="button", value="Login to Post Question", disabled)
                    if (forum.topics.length > 0)
                        .row.text-dark.h6.py-2.border-bottom
                            .col-12.h6 Topics
                        for topic in forum.topics
                            .row.py-1.border-bottom
                                .col-12
                                    a.font-weight-bold.text-decoration-none(href=`/topics/${encodeURIComponent(topic.title.replace(/\s/g,'-'))}?topicId=${topic.topicId}`)= topic.title
                                .col-12.text-muted.small.py-1 Asked by #[a.font-italic.text-decoration-none(href=`/profiles/${topic.createdBy.username}`)= topic.createdBy.username] | #{topic.prettyDate} | #{topic.totalPosts} Answers
                                .col-12
                                    if topic.description.length > 50
                                        p.text-muted.my-1(style="white-space: pre-line;")= topic.description.substr(0,50) + '...'
                                    else
                                        p.text-muted.my-1(style="white-space: pre-line;")= topic.description